<div class="container mt-5">

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="teacher's name" aria-label="Recipient's username"
      aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
  </div>

  <div class="d-flex">
    <table class="table text-center">
      <thead class="table-secondary">
        <tr>
          <th scope="col">編號</th>
          <th scope="col">名字</th>
          <th scope="col">是否為老師</th>
          </t>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>否</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>是</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>否</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>