<nav class="navbar navbar-expand-lg bg-body-tertiary px-5 py-2 bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <h3><strong>Tutor</strong></h3>
      </a>
    {{#if user}}
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/GET/users/{{user.id}}">{{ user.name }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/apply">成為老師</a>
          </li>
        </ul>
      </div>
      <a href="/logout">
        <button type="button" class="btn btn-outline-light">logout</button>
      </a>
    {{/if}}
  </div>
</nav>