<div class="container">
  <div class="row d-flex mt-3">
    <div class="col-md-9" id="search-and-teachers">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="搜尋老師" aria-label="TeacherName" aria-describedby="basic-addon1">
      </div>
      <div class="row" id="teacher-info">

        {{#each teachers}}
          <div class="card me-3 mb-2" style="width: 19rem">
            <div class="d-flex flex-row card-body align-items-center">
              <img src="{{this.avatar}}" class="card-img-top me-3" alt="user avatar"
                style="width: 8rem">
              <div class="d-flex flex-column">
                <h5 class=""><strong><a href="" class="word-wrap:break-word">{{this.name}}</a></strong></h5>
                <p class="card-title">{{this.User.nation}} </p>
              </div>
            </div>
            <div class="card-body mb-2">
              <p class="card-text">{{this.introduction}}</p>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
    
    <div class="col-md-3" id="charts">
      <div class="card px-2">
        <div class="card-body">

          <h5 class="text-center mb-3"><strong>時數學習排行</strong></h5>
          <div class="d-flex flex-row align-items-center mb-2">
            <img src="https://cdn-icons-png.flaticon.com/512/3171/3171065.png" class="card-img-top me-3" alt="user"
              style="width: 4rem">
            <h5>UserName</h5>
          </div>
          <div class="d-flex flex-row align-items-center mb-2">
            <img src="https://cdn-icons-png.flaticon.com/512/3171/3171065.png" class="card-img-top me-3" alt="user"
              style="width: 4rem">
            <h5>UserName</h5>
          </div>

        </div>
      </div>
    </div>


  </div>
</div>
