<div class="container">
  <h1 class="text-center mt-5">Sign Up</h1>
  <form action="/signup" method="POST">
    <div class="d-flex justify-content-center">
      <div class="col-6 d-flex flex-column">
        <div class="row mb-3">
          <label for="name" class="row form-label">姓名</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="Name" value="{{name}}" required>
        </div>
        <div class="row mb-3">
          <label for="email" class="row form-label">信箱</label>
          <input type="email" name="email" class="form-control" id="email" placeholder="Email" value="{{email}}"  required>
        </div>
        <div class="row mb-3">
          <label for="password" class="row form-label">密碼</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="password" value="{{password}}"  required>
        </div>
        <div class="row mb-3">
          <label for="confirmPassword" class="row form-label">確認密碼</label>
          <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" placeholder="confirmPassword" value="{{confirmPassword}}" required>
        </div>

        <div class="row mt-2">
          <button type="submit" class="btn btn-primary">註冊</button>
        </div>
        <div class="row mt-2">
          <a href="/auth/google" class="btn btn-success">Google帳號登入</a>
        </div>
        <div class="mt-4 text-center">
          <a href="javascript:history.back(-1)">返回前一頁</a>
        </div>

      </div>
    </div>
  </form>

</div>